bs4
docx2txt
faiss-cpu
fastapi
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
Pillow
pydantic
pypdf
python-dotenv
python-pptx
requests
sentence-transformers
streamlit
validators
uvicorn